<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/%EC%98%81%ED%99%94_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd

movie = pd.read_excel('/content/movie2.xlsx')

In [ ]:
movie.columns

In [69]:
## 결측치 처리1

movie2 = movie.drop(movie.columns[movie.isna().sum() >= 1000].values, axis=1)

In [70]:
## 오기입 데이터 처리
idx = movie2[['10대_비율', '20대_비율', '30대_비율', '40대_비율',
       '50대_비율']].sum(axis=1) != 0

movie3 = movie2.loc[idx]

In [ ]:
movie3.info()
movie3.columns

In [71]:
## 결측치 처리2
## OST ~ 연출 => drop
movie4 = movie3.dropna()

In [ ]:
## OST ~ 연출 => impute
list1 = ['OST', '영상미', '스토리', '연기', '연출']

for col in list1 :
  col_mean = movie3[col].loc[movie3[col].notna()].mean()
  movie3[col].fillna(col_mean, inplace=True)

In [73]:
movie5 = movie3.dropna()

In [ ]:
movie4 # 결측치 다 드롭
movie5 # impute

In [ ]:
movie4.info()

In [95]:
# 관객수 처리
movie4_tmp = movie4['관객수_x'].str.replace('명', '').str.replace(',', '')

movie4_tmp2 = movie4_tmp.loc[movie4_tmp.str.contains('만')].str.replace('만', '').astype('float') * 10000

movie4_tmp2.index

movie4_tmp.loc[movie4_tmp2.index] = movie4_tmp2

In [ ]:
movie4['관객수'] = movie4_tmp.astype('float')

In [102]:
movie4_2 = movie4.drop('관객수_x', axis=1)

In [104]:
target = movie4_2['관객수']

In [ ]:
## 데이터 전처리
### 범주 -> 인코딩

### 제목 -> 제외

### 개봉 -> 방학시즌,
### 개봉 시즌 -> 계절
### 등급 -> 원핫
### 장르 -> 한 영화에 장르가 중첩 -> 처리해서 사용
### 국가 -> 사용
### 러닝타임 -> 수치로 바꿔서 사용
### 배급사 -> 빈도수 많은 거 위주로 사용
### 참여수 -> 제외. 나중에 고려
### 감독 -> 타겟 인코딩, 레이블 인코딩

movie4_2['감독'].value_counts()

### 관객수와 참여수 비례

In [ ]:
### 개봉 시즌 -> 4계절로 바꾸기
### 등급 -> 원핫
### 장르 -> 한 영화에 장르가 중첩 -> 처리해서 사용. 가장 앞에 있는 장르만 사용
### 국가 -> 사용 -> 빈독수 5개 미만은 기타 국가
### 러닝타임 -> 수치로 바꿔서 사용 -> 분 제거하고 astype
### 배급사 -> 빈도수 많은 거 위주로 사용 -> 국가와 비슷하게 해결
### 참여수 -> 제외. 나중에 고려 -> drop
### 감독 -> 타겟 인코딩, 레이블 인코딩 -> 타겟인코딩